*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #fff;
    border: #fff;
}

.header img{
    place-content: center;
}

.menu h2{
    color: rgba(92, 84, 112, 1);
    font-weight: 500;
    font-size: 30px;
}

.menu form label{
    font-weight: 600;
}

.checkbox h2{
    color: rgba(92, 84, 112, 1);
    font-weight: 500;
    font-size: 30px;
}

.checkbox label {
    font-weight: 600;
}

.form-group label{
    color: rgba(92, 84, 112, 1);
    font-weight: 500;
    font-size: 30px;
}

.section-1{
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: rgba(50, 30, 30, 1);
    background-color: #EDE4FF;
}

.section-2{
    margin-top: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: rgba(148, 130, 255, 1);
}

.section-3{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(4, 57, 83, 1);
    margin: 30px;
}

.submit-button{
    background-color: rgba(1, 129, 140, 1);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-color: rgba(1, 129, 140, 1);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 10px;
    
    transition: background-color 0.15s, color 0.15s;
}

.submit-button:hover{
    background-color: rgb(12, 71, 77);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-color: rgb(149, 226, 119);
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
}

.section{
    margin-bottom: 20px;
}

.testimonial-slider{
    background-color: #937DC2;
    display: grid;
    place-items: center;
}

.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}

.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}

.profile{
    margin-bottom: 30px;
    text-align: center;
}

.img-area{
    margin: 0 15px 15px 15px;
}

.img-area img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.content{
    font-size: 18px;
}

.content p{
    text-align: justify;
}

.content p span{
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: rgba(212, 173, 252, 1);
    border-radius: 50%;
}

